<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="dev" class="com.yashu.Dev" autowire="byName">
        <!--<property name="com" ref="com"/>-->

    </bean>

    <bean id="com" class="com.yashu.Laptop" primary="true">
    </bean>

    <bean id="com1" class="com.yashu.Desktop">
    </bean>
</beans>